body{

  background-image: url("../media/blur_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background της ιστοσελίδας */
  color:rgb(0, 0, 0);
  font-family: Georgia, serif;
  font-size:18px;
  font-weight:normal;
  /* Μέγεθος, font και χρώμα γραμματοσειράς */
  line-height: 1.4em
  /* κενό που υπάρχει από γραμμή σε γραμμή κειμένου */
}

.page{
  width: 80%;
  margin: 0 auto; 
  position: relative;
  overflow:hidden;
  /* Μέθοδος "περιορισμού" της ιστοσελίδας στο 70% του συνολικού χώρου */
}

.box-1{
  background-color: #fff5e7;
  border: #756c59 solid;
  border-width: 5px;
  padding: 0px;
  /* Στην ουσία είναι το "κουτί" που περιβάλλει όλο το περιεχόμενο της ιστοσελίδας */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* Βοητητική κλάση για κεντρικ΄ή στοίχιση φωτογραφιών και div element */
}
.banner-logo img{
  display: block;
  width: 59%;
  margin-left: 20%;
  margin-right: 250px;
  margin-top: 65px;
  border: #756c59 solid;
  border-width: 3px;
  padding: 0%;
   /* Μέθοδος "κεντραρίσματος" του logo */
}
/*------------- Όλα τα παρακάτω αφορούν το navigation bar --------------------------*/

/*Στοίχιση του logo αριστερά στο μενού*/
#logo {
  float: left;
  
}
.menu-nav {
  margin-top: 0.5%;
  background-color: #dac399;
  float: right;
  width: 100%;
  color:white
  /* Χρώμα του background του μενού και τοποθεσία */
}

.menu-nav ul {
font-family: Georgia, serif;
font-size: 150%;
font-weight: bold;
padding: 0;
  margin: 0 0 0 25%;

  /* Στυλ αντικειμένων μενού, font, μέγεθος και bold */
}

.menu-nav ul li {
  display: inline;
  display: inline-block;
  padding-top: 5px;
  position: relative;
  /* Eυθυγράμμιση αντικειμένων του μενού/λίστας */
}

.menu-nav ul li a {
  background-color: transparent;

  color: #FFFFFF;
  float: left;
  padding: 0.2em 12px;
  text-decoration: none;
  

  /* Στύλ για τα αντικείμενα του menu ( άσπρες κάθετες γρααμμ΄ές, άσπρα γράμματα, τοποθεσία και αποστάσεις ) */
}
.menu-nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #756c59 ;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.menu-nav a:hover::before {
  width: 90%;
}

.menu-nav ul li a:active{
  box-shadow: 2px 2px 5px #756c59;
}
.menu-nav ul li a:hover {     
background-color: transparent;
  /* Στύλ ώστε όταν ο κέρσορας "ακουμπάει" πάνω σε κάποιο αντικείμενο του μενού να αλλάζει χρώμα */
  color: #efede9;
  transform: scale(1.025); /* Μεγαλώνουν τα γρα΄μματα με hover */
  transition: transform 0.3s ease-in-out; /* Ομαλό transition */
}
/*Τέλος του μενού*/

.main-title{
  text-align: center;
  color: #724734;
  font-size: 180%;
  margin-top: 5px;
}
.main-info{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;

  /* Text Container το οποίο περιορίζει στην ουσία το κείμενο απ'το να ακουμπάει στα άκρα του border/κουτιού */
  
}
/*-----------Όλα τα παρακάτω αφορύν το footer*-----------*/
.main-footer {
  background-color: #000000;
  padding-bottom: 3px;
  text-align:center;
  color: #dac399;
  /* Στυλ για το footer ( κάτω-κάτω μέρος της σελίδας ) καθώς επίσης χρ΄ωμα και κεντράρισμα κειμένου που βρίσκεται μέσα */
}
.main-footer a:hover{
  color: #edeae5;
  /* Στυλ για το footer ( κάτω-κάτω μέρος της σελίδας ) καθώς επίσης χρ΄ωμα και κεντράρισμα κειμένου που βρίσκεται μέσα */
}
.main-footer a{
  color: #dac399;
  /* Στυλ για το footer ( κάτω-κάτω μέρος της σελίδας ) καθώς επίσης χρ΄ωμα και κεντράρισμα κειμένου που βρίσκεται μέσα */
}

/*-------------Όλα τα παρακάτω αφορούν την φόρμα στο contact.html----------------*/

/*Container που περιέχει την φόρμα και styles για την θέση του*/
.form-container {
  display: flex; 
  justify-content: space-between; 
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 10px;
}
/*Styles για τα γρ΄αμματα της φόρμας*/
.form-text {
  flex: 1; 
  font-size: 30px;
  line-height: 1.6em;
  color: #724734;
}
/*Container για τον τίτλο και την εξήγηση της φόρμας στον χρήστη*/
.support-container{
  font-size: 15px;
  line-height: 1.3em;
  color:#000000;
  margin-bottom: -15px;
}
/*----Όλα τα παρακάτω αφορούν την φόρμα και περιέχονται styles για κάθε στοιχείο της----*/
.form {
  text-align: left;
  flex: 2; 
  padding: 20px;
}

form {
  max-width: 400px; 
  margin: 0 auto; 
}

label {
  display: block; 
  font-weight: bold; 
  margin-top: 10px; 
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="ID"],
textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px; 
}

input[type="message"],
textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px;
  border: 2px solid #ccc; 
  border-radius: 5px; 
  height: 150px; 
}

input[type="reset"],
input[type="submit"] {
  background-color: #724734; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 10px; 
}

input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #d37f30; 
}
/*----------------Όλα τα παρακάτω αφορούν το about.html------------------*/
.main-about-us {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style the team member section */
.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  text-align: left;
}

/* Style the team member image */
.team-member img {
  border: 2px solid white;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Style the member article */
#member {
  flex: 1;
}

/* Style member headings */
#member h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#member h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

#member h4 {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}

/* Add hover effect to team member images */
.team-member img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.main-categories{
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 60px;
  width: 90%;
  height: fit-content;
  
}
.category{
  flex: 33.33%;
  padding: 10px;
  
}
.category img{
  border: #756c59 solid;
  border-width: 3px;
}

.categories-menu ul{
  list-style-type: none;

}
#category-main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 51%;
}
/*---------------------Όλα τα παρακάτω αφορούν την home-sales.html και car-sales.html------------------------*/
/*Styles για την γραμμή*/
.line {
  border: 0.1px solid #756c59;
  margin-top: -20px;
  margin-bottom: 10px;
}
/*Styles για τις αγγελίες*/
.listings {
  overflow: hidden;
  justify-content: space-around;
  margin: 20px auto;
}

.listings .line{
  
  border: 0.1px solid #756c59;
  margin-top: -10px;
}

/*Styles για το κουμπί που δίνει περισσότερες πληροφορίες για την αγγελία*/
.button {
  font-size: 1em;
  padding: 5px;
  color: #000000;
  border: 3px solid #000000;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: inline-block;
}
.button:hover {
  background: #756c59;
}
/*-------- Όλα τα παρακάτω αφορούν το pop-up window της κάθε αγγελίας -----------*/
/*Το παράθυρο που περιβάλλει το op-up window*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  width: 60%;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}
/*Το κουμπί που κλείνει το παράθυρο της αγγελίας*/
.popup .close {
  position: absolute;
  top: 8px;
  right: 16px;
  transition:  ease-out 300ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #756c59;
}
/*Τα περιεχόμενα του pop-up window*/
.popup .content {
  overflow-y: auto ;
  max-height:550px;
  overflow: auto;
}
.popup img {
  border: #000000 solid;
  border-width: 3px;
  
}
/*Style για στοίχιση του κουμπιού στο κέντρο της εικόνας*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-68%, -60%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*Styles για το container που περιέχει την φωτογραφία κάθε αγγελίας στην οθόνη της κάθε κατηγορίας*/
.container {
  position: relative;
  float: left;
  width: 48%;
  padding: 5px;
  
}
.container:hover .property-image {
  opacity: 0.3;
  
}

.container:hover .middle {
  opacity: 1;
}
/*Styles για τις εικόνες των αγγελιών*/
.property-image{
  border: #756c59 solid;
  border-width: 3px;
  margin-left: 55px ;
}
/*--------------------------------------*/
.content a{
  text-decoration: none;
}
.content a:link:hover{
  color: #847759;
  text-decoration: underline;
}
.content a:visited:hover{
  color:  #847759;
}
.content a:visited{
  color: #924a0a;
}
/*---------Τα παρακάτω αφορούν το categories.html-------*/


/* menu gia upokatigories kuriwn katigoriwn */

.main-categories{
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 60px;
  width: 90%;
  height: fit-content;
  
}
.category{
  flex: 33.33%;
  padding: 10px;
  
}
.category img{
  border: #756c59 solid;
  border-width: 3px;
}


.categories-menu{
  list-style: none;
}

.categories-menu h3 {
 
  margin-left: 135px;
  background-color: #dac399;
  border: 2px solid #756c59; /* Add a border */
  color: white;
  padding: 3px 10px; /* Add padding for spacing between the text and border */
  /* Additional styles for the h3 element */
  display: inline-block; 
  cursor: pointer;
  
}

.categories-menu ul {
  margin-top: -20px;
  background-color: #f5e7ca;  
  width: 26.4%;  
  list-style-type: none;
  display: none;
  /* border: 2px solid #756c59; */
  padding: 10px;
  text-align: center;
  z-index: 999;
  position:absolute;
  line-height: 2.9em;
 
  
  
}

.categories-menu ul li {
  border-bottom: 1px solid #756c59;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #756c59;
}



.categories-menu ul li a
{
  text-decoration: none;
  color: #756c59;
 
 
}

.categories-menu ul li:hover{
  background-color:  #dac399;
}
.categories-menu h3:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Extend the shadow by increasing the spread radius to 20 pixels */
  color:  #efede9;
} 
.categories-menu ul:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Extend the shadow by increasing the spread radius to 20 pixels */
}
.categories-menu h3:hover + ul , .categories-menu ul:hover, .categories-menu ul li:hover{
  display: block;
  
}






/* Style the content table */
#content-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  margin-left: 370px;

}


/* Style alternate rows with different background colors */
#content-table tr:nth-child(even) {
  background-color: #dac399;
}

/* Style the table cells */
#content-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Style the table cells in the first column (labels) */
#content-table td:first-child {
  font-weight: bold;
}

/* Add some spacing between the table rows */
#content-table tr:hover {
  background-color: #e0e0e0;
}

/* Add borders to the table cells */
#content-table td {
  border: 2px solid #756c59;
}


#main-citroen img {
  max-width: 450px; /* Set a maximum width for the image */
  border: 2px solid #666;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
  display: block; /* Center the image horizontally */
  margin: 0 auto;
  transition: transform 0.3s; 
}

#main-citroen img:hover {
  transform: scale(1.1); /* Increase the image size on hover */
}



#citroen-imgs img {
  max-width: 450px; /* Set a maximum width for the image */
  border: 2px solid #666;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
  display: inline-block; /* Center the image horizontally */
  margin: 10px 0; /* Add space above and below the image */
  margin-left: 50px;
  transition: transform 0.3s; 
}

#citroen-imgs img:hover {
  transform: scale(1.1); /* Increase the image size on hover */
}

#citroen-details {

  text-align: center;
}

#citroen-details h3 {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

#citroen-details b {
  color: #835440; /* Style the price in a different color */
}

#citroen-details a {
  display: inline-block;
  background-color: #835440;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#citroen-details a:hover {
  background-color: #ca886b; /* Change the background color on hover */
}

#citroen-details p {
  font-size: 18px;
  color: #444;
  margin-top: 20px;
}


#citroen-details p small {
  color: #525252;
}

#citroen-details p small b {
  color: #835440; /* Style the numbers in a different color */
}
